*{
    margin: 0;
    padding: 0;
    font-size: 18px;
}
div{
    height: 300px;
}
#ManInterview, #WomanInterview{
    margin: 2%;
    width: 200px;
    height: 200px;
    float:left;
    background: url("img/4.png") no-repeat 20% 30%;
    border-radius: 100%;
}
#WomanInterview{
    margin-top: 7%;
    background: url("img/3.png") no-repeat 80% 0;
}
#ManBlockquote, #WomanBlockquote{
    width: 25%;
    margin: 0 50% 4% 0;
    float: right;
}
blockquote{
    font-style: italic;
    quotes: "\201C" "\201D";
    margin-bottom: 10px;
}
#ManBlockquote>blockquote>cite{
    padding-left: 68%;
}
#ManBlockquote:before, #WomanBlockquote:before{
    content:open-quote;
    font-size: 4rem;
    color: #B0C7D8;
}
#ManBlockquote:after, #WomanBlockquote:after{
    content:close-quote;
    font-size: 4rem;
    color: #B0C7D8;
    margin-left: 100%;
}
#ManAuthor, #WomanAuthor{
    display: block;
    margin-top:100%;
    text-align: center;
    margin-bottom: 40px;
}
#WomanBlockquote>blockquote>cite{
    padding-left: 53%;
}